@charset "UTF-8";
.header{
 background-color: gray;
 font-size: 10px;
 padding: 10px;
 color: white;
}
.header-right{
	font-size: 10px;
    display: inline-block;
    padding: 10px;
    color: black;
}
.main{
	padding-top: 50px;
    padding-bottom: 50px;
}
.footer{
	background-color: gray;
	padding: 10px;
    color: white;
}
.label{
	display: inline-block;
	padding: 10px;
	color: white;
    font-size: 10px;
}