@media screen and (max-width: 479px) {
  .header{
    width: 200px;
    height: 200px;
  }
 .header-box{
   width: 60px;
   height: 160px;
   margin-left: 70px;
   margin-top: 20px;
   align-items: unset;
   justify-content: unset;
   display: unset;
 }
 .box{
   margin-top:10px;
   margin: 10px;
 }
 .main-left{
   float:none;
   width: 200px;
   height:200px;
 }
 .main-right{
   width: 200px;
   height:210px;
 }
 .footer{
   width:200px;
 }
 .right-1{
   margin-top:20px;
   margin-left: 30px;
   width: 130px;
 }
 .right-2{
   margin-left: 30px;
   width: 130px;
 }
 .right-3{
   width: 130px;
   margin-left: 30px;
 }
 
 }
 